<%= @game.player_1.name %> attacked <%= @game.player_2.name %>!


<p> It's super effective! </p>

<%= @game.player_2.name %>: <%= @game.player_2.hp %>HP

<form action='/play' method='get'>
  <input type='submit' value='Back'>
</form>
