<%= @player_1.name %> attacked <%= @player_2.name %>!


<p> It's super effective! </p>

<%= @player_2.name %>: <%= @player_2.hp %>HP

<form action='/play' method='get'>
  <input type='submit' value='Back'>
</form>
