<%= @game.player_2.name %>, now's your change to get revenge on <%= @game.player_1.name %>!
<br>
Hit fast and hard.
<br>
Are you ready?
<br>
Are you still ready?
<br>
Would you like to hear a joke first?
<br>
Fine.  Be a grump.
<br>
Ok, your attack succeeded, even though you have no sense of humour.
<br>
<%= @game.player_1.name %>: <%= @game.player_1.hp %>HP

<form action= "/play_p1">
  <input type= 'submit' value= "Player 1's turn">
</form>
